* {
    margin: 0;
    box-sizing: border-box;
}

/* ---------------- Navbar and burger menu ------------------ */
burger_menu {
    width: 100%;
    height: 5em;
    background-color: rgb(37, 39, 53);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    height: 3em;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 3em;
    height: 0.5em;
    background-color: rgb(0, 183, 255);
    border-radius: 0.5em;
}

/* ------------ Sliding Menu Styles ---------------- */
/* .menu {
    width: 50%;
    height: 100vh;
    background-color: rgb(154, 181, 240);
    position: absolute;
    top: 5em;
    left: 0;
    z-index: 99;
    padding: 1em;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%)
} */

.menu.visible {
    transform: translateX(0); /* Показать меню */
}

.hidden {
    display: none;
}

/* ----- Animations for Burger Bars ----- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.75em, 1em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(-45deg) translate(0.75em, -1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
